solution_TSPA_GCa.txt
solution_TSPA_GCb.txt
solution_TSPA_NNa.txt
solution_TSPA_NNb.txt
solution_TSPA_phaseI_GCa.txt
solution_TSPA_phaseI_GCb.txt
solution_TSPA_phaseI_NNa.txt
solution_TSPA_phaseI_NNb.txt
solution_TSPA_phaseI_Random.txt
solution_TSPA_phaseI_RegretGCa.txt
solution_TSPA_phaseI_RegretGCb.txt
solution_TSPA_phaseI_WRegretGCa.txt
solution_TSPA_phaseI_WRegretGCb.txt
solution_TSPA_Random.txt
solution_TSPA_RegretGCa.txt
solution_TSPA_RegretGCb.txt
solution_TSPA_WRegretGCa.txt
solution_TSPA_WRegretGCb.txt
solution_TSPB_GCa.txt
solution_TSPB_GCb.txt
solution_TSPB_NNa.txt
solution_TSPB_NNb.txt
solution_TSPB_phaseI_GCa.txt
solution_TSPB_phaseI_GCb.txt
solution_TSPB_phaseI_NNa.txt
solution_TSPB_phaseI_NNb.txt
solution_TSPB_phaseI_Random.txt
solution_TSPB_phaseI_RegretGCa.txt
solution_TSPB_phaseI_RegretGCb.txt
solution_TSPB_phaseI_WRegretGCa.txt
solution_TSPB_Random.txt
solution_TSPB_RegretGCa.txt
solution_TSPB_RegretGCb.txt
solution_TSPB_WRegretGCa.txt
solution_TSPB_WRegretGCb.txt
dlugosc.csv
dlugosci.csv
druga_faza.csv
.vscode/c_cpp_properties.json
visualization.py
tsp.exe
pierwsza_faza.csv
.vscode/launch.json
